@using MVCBank.Services;
@using Microsoft.AspNet.Identity;


@model MVCBank.Models.CheckAccount
@{
    ViewBag.Title = "Account Details";
    var currentUserId = User.Identity.GetUserId();
}

<h2>Account Details</h2>

<dl class="dl-horizontal">

    <dt>@Html.DisplayNameFor(model => model.AccountNumber)</dt>

    <dd>@Html.DisplayFor(model => model.AccountNumber)</dd>

    <dt>@Html.DisplayNameFor(model => model.Name)</dt>

    <dd>@Html.DisplayFor(model => model.Name)</dd>

    <dt>@Html.DisplayNameFor(model => model.Balance)</dt>

    <dd>@Html.DisplayFor(model => model.Balance)</dd>


</dl>


@{
    if (CheckAccountServices.isAdmin(currentUserId))
    {
        @Html.ActionLink("Back to List", "List")

    }
}